@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Hand+Pre:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

/* In your index.css */
@font-face {
  font-family: 'Crospor';
  src: url('../assets/fonts/CrosporRegular.woff2') format('woff2'),
       url('../assets/fonts/CrosporRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


:root {
  --font-primary: 'Montserrat', Arial, Helvetica, sans-serif;
  --font-secondary: 'Edu NSW ACT Hand Pre', cursive, sans-serif;
  --custom-font: 'CustomFont', sans-serif;
  /* Global Color Palette */
  --color-white: #FFFFFF; /* Background, cards */
  --color-light-gray: #D4D4D4; /* Secondary elements, borders */
  --color-medium-gray: #B3B3B3; /* Text/icons on white */
  --color-dark-gray: #2B2B2B; /* Headings, primary text */
}

html, body {
  font-family: var(--font-primary);
  overflow-x: hidden;
}


.dot {
  display: inline-block;
  width: 1vw;
  height: 1vw;
  background: var(--color-dark-gray);
  border-radius: 50%;
  margin: 0 2vw;
}

.bg-custom-light-gray {
  background-color: var(--color-light-gray);
}
.bg-extra-light-gray {
  background-color: #ECECEC;
}
.card-clickable {
  cursor: pointer;
}
.hover\:bg-palette-medium-gray:hover {
  background-color: var(--color-medium-gray) !important;
}

/* Hide scrollbar for webkit browsers */
.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}