@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Hand+Pre:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --font-primary: 'Montserrat', Arial, Helvetica, sans-serif;
  --font-secondary: 'Edu NSW ACT Hand Pre', cursive, sans-serif;
  /* Global Color Palette */
  --color-white: #FFFFFF; /* Background, cards */
  --color-light-gray: #D4D4D4; /* Secondary elements, borders */
  --color-medium-gray: #B3B3B3; /* Text/icons on white */
  --color-dark-gray: #2B2B2B; /* Headings, primary text */
}

html, body {
  font-family: var(--font-primary);
}